{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value %}
<span style="color:{{ block.settings.colour }}">
  {% render 'themeAi', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %}

{% schema %}
{
  "name": "Theme AI",
  "target": "section",
  "stylesheet": "styles.css",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

