<div class="footer_model footer_modal_cnt p-4 flex flex-row items-start justify-between self-stretch shrink-0 relative">
    <div
      id="backBtn"
      class="rounded-3xl flex flex-row gap-0 items-center justify-center shrink-0 relative overflow-hidden"
      style="opacity: 0;color:#047AC6"
    >
      <div
        class="rounded-[999px] pt-2.5 pr-[18px] pb-2.5 pl-[18px] flex flex-row gap-2 items-center justify-start shrink-0 relative overflow-hidden"
      >
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.69483 8.00095L10.4555 4.48828C10.7242 4.23695 10.7388 3.81495 10.4875 3.54562C10.2368 3.27628 9.8135 3.26228 9.5455 3.51362L5.74483 7.06428C5.4795 7.31228 5.3335 7.64428 5.3335 8.00095C5.3335 8.35762 5.4795 8.68962 5.74416 8.93762L9.54483 12.4883C9.6735 12.6083 9.83683 12.6676 10.0002 12.6676C10.1788 12.6676 10.3562 12.5969 10.4868 12.4563C10.7382 12.1869 10.7235 11.7656 10.4548 11.5136L6.69483 8.00095Z" fill="#047AC6"/>
        </svg>
        <div
          class="text-wearnow-color-primary-primary-500 text-left font-sf-pro-display-medium-base-font-family text-sf-pro-display-medium-base-font-size leading-sf-pro-display-medium-base-line-height font-sf-pro-display-medium-base-font-weight relative"
        >
          Back
        </div>
      </div>
    </div>
    <div class="flex flex-row items-center justify-between self-stretch  relative">
      <div
        class="text-center font-['SfProDisplay-Medium',_sans-serif] text-sm leading-5 font-medium relative"
      >
        <span class="pagination_model_content">
          <span class="text-span counter_model">1/</span>
          <span class="text-span2"></span>
        </span>
      </div>
    </div>
    <div
      id="nextBtn"
      class="pointer rounded-3xl border-solid border-wearnow-color-primary-primary-500 border flex flex-row gap-0 items-center justify-center shrink-0 relative overflow-hidden"
      style="opacity: 1"
    >
      <div class="model_btn rounded-[999px]  pt-2.5 pr-[18px] pb-2.5 pl-[18px] flex flex-row gap-2 items-center justify-start shrink-0 relative overflow-hidden">
        <div
          class="text-wearnow-color-grey-g0 text-left font-sf-pro-display-medium-base-font-family text-sf-pro-display-medium-base-font-size leading-sf-pro-display-medium-base-line-height font-sf-pro-display-medium-base-font-weight relative"
        >
          Next
        </div>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M10.2562 7.06402L6.45555 3.51335C6.18689 3.26269 5.76422 3.27602 5.51356 3.54535C5.26222 3.81469 5.27622 4.23669 5.54489 4.48802L9.30556 8.00069L5.54489 11.5134C5.27622 11.7647 5.26156 12.1867 5.51289 12.456C5.64422 12.5967 5.82156 12.6674 6.00022 12.6674C6.16356 12.6674 6.32689 12.608 6.45555 12.488L10.2562 8.93735C10.5209 8.68935 10.6669 8.35736 10.6669 8.00069C10.6669 7.64402 10.5209 7.31202 10.2562 7.06402Z"
              fill="white" />
        </svg>
      </div>
     </div>
      <div class="addtocart_btn rounded-[999px]  pt-2.5 pr-[18px] pb-2.5 pl-[18px] flex flex-row gap-2 items-center justify-start shrink-0 relative overflow-hidden" style="display:none">
        <div
          class="text-wearnow-color-grey-g0 text-left font-sf-pro-display-medium-base-font-family text-sf-pro-display-medium-base-font-size leading-sf-pro-display-medium-base-line-height font-sf-pro-display-medium-base-font-weight relative"
        >
          Add to cart
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M12.5614 9.33316C12.714 9.3332 12.8625 9.28597 12.9843 9.19864C13.1061 9.11131 13.1947 8.98864 13.2365 8.84921L14.64 4.18302C14.6697 4.08382 14.6748 3.97941 14.6549 3.87802C14.635 3.77662 14.5905 3.681 14.5251 3.59868C14.4597 3.51636 14.375 3.4496 14.2778 3.40363C14.1806 3.35766 14.0735 3.33375 13.9649 3.33378H12.5614C12.3753 3.33378 12.1968 3.40401 12.0652 3.52902C11.9336 3.65403 11.8597 3.82358 11.8597 4.00038C11.8597 4.17717 11.9336 4.34672 12.0652 4.47173C12.1968 4.59674 12.3753 4.66697 12.5614 4.66697H13.0344L12.0323 7.99996H6.07308L5.07099 4.66697H5.54396C5.73008 4.66697 5.90857 4.59674 6.04017 4.47173C6.17177 4.34672 6.24571 4.17717 6.24571 4.00038C6.24571 3.82358 6.17177 3.65403 6.04017 3.52902C5.90857 3.40401 5.73008 3.33378 5.54396 3.33378H4.68082L4.26328 1.8306C4.22376 1.68827 4.13577 1.56236 4.01301 1.47253C3.89026 1.38269 3.73965 1.33398 3.58469 1.33398H2.03524C1.84913 1.33398 1.67063 1.40422 1.53903 1.52923C1.40743 1.65424 1.3335 1.82379 1.3335 2.00058C1.3335 2.17738 1.40743 2.34693 1.53903 2.47194C1.67063 2.59695 1.84913 2.66718 2.03524 2.66718H3.04365L3.46469 4.17036V4.18302L4.86818 8.84921L5.39168 10.8397C5.04521 10.9857 4.74669 11.218 4.52763 11.5118C4.30856 11.8057 4.17709 12.1503 4.14708 12.5092C4.11707 12.8682 4.18965 13.2281 4.35714 13.5512C4.52463 13.8742 4.78083 14.1482 5.09869 14.3444C5.41655 14.5406 5.78427 14.6516 6.16304 14.6658C6.54181 14.6799 6.91757 14.5966 7.25065 14.4248C7.58374 14.2529 7.86179 13.9988 8.05545 13.6892C8.24911 13.3797 8.3512 13.0262 8.35094 12.6661C8.34861 12.4385 8.30493 12.213 8.22182 11.9996H9.88355C9.80044 12.213 9.75675 12.4385 9.75443 12.6661C9.75443 13.0617 9.8779 13.4483 10.1092 13.7772C10.3406 14.106 10.6693 14.3624 11.054 14.5137C11.4387 14.6651 11.862 14.7047 12.2704 14.6275C12.6787 14.5504 13.0539 14.3599 13.3483 14.0802C13.6427 13.8005 13.8432 13.4442 13.9244 13.0563C14.0057 12.6684 13.964 12.2663 13.8046 11.9009C13.6453 11.5354 13.3755 11.2231 13.0293 11.0034C12.6831 10.7836 12.276 10.6664 11.8597 10.6664H6.79307L6.4422 9.33316H12.5614ZM6.94745 12.6661C6.94745 12.798 6.90629 12.9269 6.82919 13.0365C6.75208 13.1461 6.64248 13.2316 6.51425 13.282C6.38603 13.3325 6.24493 13.3457 6.1088 13.3199C5.97268 13.2942 5.84764 13.2307 5.7495 13.1375C5.65136 13.0443 5.58452 12.9255 5.55745 12.7962C5.53037 12.6669 5.54427 12.5329 5.59738 12.4111C5.65049 12.2892 5.74044 12.1851 5.85584 12.1119C5.97124 12.0386 6.10692 11.9996 6.24571 11.9996C6.43182 11.9996 6.61031 12.0698 6.74192 12.1948C6.87352 12.3198 6.94745 12.4894 6.94745 12.6661ZM11.8597 13.3327C11.7209 13.3327 11.5852 13.2937 11.4698 13.2204C11.3544 13.1472 11.2644 13.0431 11.2113 12.9212C11.1582 12.7994 11.1443 12.6654 11.1714 12.5361C11.1985 12.4068 11.2653 12.288 11.3635 12.1948C11.4616 12.1016 11.5866 12.0381 11.7228 12.0124C11.8589 11.9866 12 11.9998 12.1282 12.0503C12.2564 12.1007 12.366 12.1862 12.4431 12.2958C12.5203 12.4054 12.5614 12.5343 12.5614 12.6661C12.5614 12.8429 12.4875 13.0125 12.3559 13.1375C12.2243 13.2625 12.0458 13.3327 11.8597 13.3327Z" fill="white"/>
          <path d="M7.6492 6.00017H8.35094V6.66677C8.35094 6.84356 8.42487 7.01311 8.55648 7.13812C8.68808 7.26314 8.86657 7.33337 9.05268 7.33337C9.2388 7.33337 9.41729 7.26314 9.54889 7.13812C9.6805 7.01311 9.75443 6.84356 9.75443 6.66677V6.00017H10.4562C10.6423 6.00017 10.8208 5.92994 10.9524 5.80493C11.084 5.67992 11.1579 5.51036 11.1579 5.33357C11.1579 5.15678 11.084 4.98723 10.9524 4.86222C10.8208 4.7372 10.6423 4.66697 10.4562 4.66697H9.75443V4.00038C9.75443 3.82358 9.6805 3.65403 9.54889 3.52902C9.41729 3.40401 9.2388 3.33378 9.05268 3.33378C8.86657 3.33378 8.68808 3.40401 8.55648 3.52902C8.42487 3.65403 8.35094 3.82358 8.35094 4.00038V4.66697H7.6492C7.46308 4.66697 7.28459 4.7372 7.15299 4.86222C7.02139 4.98723 6.94745 5.15678 6.94745 5.33357C6.94745 5.51036 7.02139 5.67992 7.15299 5.80493C7.28459 5.92994 7.46308 6.00017 7.6492 6.00017Z" fill="white"/>
          </svg>
      </div>

  </div>