<div class="footer_model footer_modal_cnt p-4 flex flex-row items-start justify-between self-stretch shrink-0 relative">
    <div
      id="backBtn"
      class="rounded-3xl flex flex-row gap-0 items-center justify-center shrink-0 relative overflow-hidden"
      style="opacity: 0;color:#047AC6"
    >
      <div
        class="rounded-[999px] pt-2.5 pr-[18px] pb-2.5 pl-[18px] flex flex-row gap-2 items-center justify-start shrink-0 relative overflow-hidden"
      >
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.69483 8.00095L10.4555 4.48828C10.7242 4.23695 10.7388 3.81495 10.4875 3.54562C10.2368 3.27628 9.8135 3.26228 9.5455 3.51362L5.74483 7.06428C5.4795 7.31228 5.3335 7.64428 5.3335 8.00095C5.3335 8.35762 5.4795 8.68962 5.74416 8.93762L9.54483 12.4883C9.6735 12.6083 9.83683 12.6676 10.0002 12.6676C10.1788 12.6676 10.3562 12.5969 10.4868 12.4563C10.7382 12.1869 10.7235 11.7656 10.4548 11.5136L6.69483 8.00095Z" fill="#047AC6"/>
        </svg>
        <div
          class="text-wearnow-color-primary-primary-500 text-left font-sf-pro-display-medium-base-font-family text-sf-pro-display-medium-base-font-size leading-sf-pro-display-medium-base-line-height font-sf-pro-display-medium-base-font-weight relative"
        >
          Back
        </div>
      </div>
    </div>
    {% comment %} <div class="flex flex-row items-center justify-between self-stretch  relative">
      <div
        class="text-center font-['SfProDisplay-Medium',_sans-serif] text-sm leading-5 font-medium relative"
      >
        <span class="pagination_model_content">
          <span class="text-span counter_model">1/</span>
          <span class="text-span2"></span>
        </span>
      </div>
    </div> {% endcomment %}
    {% comment %} <div
            id="nextBtn"
            class="pointer rounded-3xl border-solid border-wearnow-color-primary-primary-500 border flex flex-row gap-0 items-center justify-center shrink-0 relative overflow-hidden"
            style="opacity: 1"
          >
      <div class="model_btn rounded-[999px]  pt-2.5 pr-[18px] pb-2.5 pl-[18px] flex flex-row gap-2 items-center justify-start shrink-0 relative overflow-hidden">
          <div
            class="text-wearnow-color-grey-g0 text-left font-sf-pro-display-medium-base-font-family text-sf-pro-display-medium-base-font-size leading-sf-pro-display-medium-base-line-height font-sf-pro-display-medium-base-font-weight relative"
          >
          Next
        </div>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M10.2562 7.06402L6.45555 3.51335C6.18689 3.26269 5.76422 3.27602 5.51356 3.54535C5.26222 3.81469 5.27622 4.23669 5.54489 4.48802L9.30556 8.00069L5.54489 11.5134C5.27622 11.7647 5.26156 12.1867 5.51289 12.456C5.64422 12.5967 5.82156 12.6674 6.00022 12.6674C6.16356 12.6674 6.32689 12.608 6.45555 12.488L10.2562 8.93735C10.5209 8.68935 10.6669 8.35736 10.6669 8.00069C10.6669 7.64402 10.5209 7.31202 10.2562 7.06402Z"
              fill="white" />
        </svg>
      </div> {% endcomment %}
     </div>


  </div>