<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600&display=swap">
  <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/stylesheet.css?v=1713961441">
  <style></style>
</head>

<!-- Button to open the first modal -->
<button onclick="openModal()">Open Modal</button>

<script>
  var selectedData = {};
  function openModal() {
    document.getElementById('myModal').style.display = 'block';
  }
  function closeModal() {
    selectedData.gender = document.getElementById('gender').value;
    selectedData.height = document.getElementById('height').value;
    selectedData.weight = document.getElementById('weight').value;
    selectedData.size = document.getElementById('size').value;
    selectedData.fit = document.getElementById('fit').value;
    document.getElementById('myModal').style.display = 'none';
  }
  function openModal2() {
    document.getElementById('myModal2').style.display = 'block';
  }

  function closeModal2() {
    selectedData.shoulders = document.getElementById('shoulders').value;
    selectedData.waist = document.getElementById('waist').value;
    selectedData.hips = document.getElementById('hips').value;
    document.getElementById('myModal2').style.display = 'none';
  }

  function openModal3() {
    document.getElementById('myModal3').style.display = 'block';
    // Set a timeout to close the third modal and open the fourth after 5 seconds
    setTimeout(function () {
      closeModal3();
      openModal4();
      displaySelectedData(); // Display the data in the fourth modal
    }, 3000);
  }

  function back_btn() {
    document.getElementById('myModal').style.display = 'block';
    document.getElementById('myModal2').style.display = 'none';
  }

  function closeModal3() {
    document.getElementById('myModal3').style.display = 'none';
  }

  function openModal4() {
    document.getElementById('myModal4').style.display = 'block';
  }

  function closeModal4() {
    document.getElementById('myModal4').style.display = 'none';
  }
  function displaySelectedData() {
    var resultsContainer = document.getElementById('sizeResults');
    resultsContainer.innerHTML =
      '<p>Gender: <span>' +
      selectedData.gender +
      '</span> </p>' +
      '<p>Height: <span> ' +
      selectedData.height +
      '</span></p>' +
      '<p>Weight: <span> ' +
      selectedData.weight +
      '</span></p>' +
      '<p>Size: <span> ' +
      selectedData.size +
      '</span></p>' +
      '<p>Fit: <span> ' +
      selectedData.fit +
      '</span></p>' +
      '<p>Shoulders: <span> ' +
      selectedData.shoulders +
      '</span></p>' +
      '<p>Waist: <span> ' +
      selectedData.waist +
      '</span></p>' +
      '<p>Hips: <span> ' +
      selectedData.hips +
      '</span></p>';
  }
</script>
<script>
  function onPageLoadComplete() {
    var content = `<div class="main_content_model">
      <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="customization-panel customization-panel1">
            <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/Rectangle_10188_1.png?v=1714996067">
            <form id="customizationForm">
              <div class="form_content">
                <label for="gender" class="title_label">Select Your Gender</label>
                <label class="form_content" for="gender">Gender</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="gender" name="gender">
                  <option value="">Choose one</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              </div>
    
              <div class="form_content">
                <label for="height" class="title_label">Select Your Height & Weight</label>
                <label class="form_content" for="height">Height (Inches)</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="height" name="height">
                  <option value="">Choose one</option>
                  <option value="short">Short</option>
                  <option value="average">Average</option>
                  <option value="tall">Tall</option>
                </select>
              </div>
              </div>
              <div class="form_content">
                <label class="form_content" for="weight"> Weight (Lbs)</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="weight" name="weight">
                  <option value="">Choose one</option>
                  <option value="thin">Thin</option>
                  <option value="average">Average</option>
                  <option value="overweight">Overweight</option>
                </select>
              </div>
              </div>
              <div class="form_content">
                <label for="size"class="title_label">Select Your Size & Fit</label>
                <label class="form_content" for="size">Size (Usual size you wear)</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="size" name="size">
                  <option value="">Choose one</option>
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                </select>
              </div>
              </div>
              <div class="form_content">
                <label class="form_content" for="size">Fitting</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="fit" name="fit">
                  <option value="">Choose one</option>
                  <option value="tight">Tight</option>
                  <option value="regular">Regular</option>
                  <option value="loose">Loose</option>
                </select>
              </div>
              </div>
              <div class="button-container">
                <button type="submit">
                  Continue (1/2)
                  <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/ArrowRight.svg?v=1715009315" alt="">
                </button>
                {% comment %} <button onclick="closeModal()">Close</button> {% endcomment %}
              </div>
            </form>
          </div>
          <div class="footer_model">
            <h2 class="footer_model_title">Try-On This Look</h2>
            <div class="footer_model_text_with_icon">
              <h3 class="footer_model_title_pow">Powered By</h3>
              <img
                src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/footer_icon_7a9b7dbc-edf2-4484-a878-4600ac40d704.png?v=1715009086"
                alt=""
              >
              <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/WearNow.png?v=1715009086" alt="">
            </div>
          </div>
        </div>
      </div>
    
      <!-- Second Modal -->
      <div id="myModal2" class="modal">
        <div class="modal-content">
          <div class="customization-panel customization-panel2">
            <div class="model_photo">
            <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/Rectangle_10188_1.png?v=1714996067">
            </div>
            <form id="customizationForm2">
              <div class="form-group">
                <h2 class="custmize_your_fit title_label">
                  <svg xmlns="http://www.w3.org/2000/svg" class="back_btn" onclick="back_btn();" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.752 9C15.752 9.41421 15.4162 9.75 15.002 9.75L5.31274 9.75L8.03265 12.4696C8.32556 12.7625 8.32558 13.2374 8.03271 13.5303C7.73983 13.8232 7.26495 13.8232 6.97205 13.5304L2.97165 9.53036C2.83098 9.3897 2.75195 9.19892 2.75195 9C2.75195 8.80107 2.83098 8.6103 2.97165 8.46964L6.97205 4.46964C7.26495 4.17676 7.73983 4.17679 8.03271 4.4697C8.32558 4.7626 8.32556 5.23748 8.03265 5.53036L5.31274 8.25L15.002 8.25C15.4162 8.25 15.752 8.58579 15.752 9Z" fill="#25272C"/>
                  </svg>
                  Customize Your Fit
                </h2>
                <label for="shoulders">Shoulders</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="shoulders" name="shoulders">
                  <option value="">Choose one</option>
                  <option value="narrow">Narrow</option>
                  <option value="average">Average</option>
                  <option value="broad">Broad</option>
                </select>
              </div>
              </div>
    
              <div class="form-group">
                <label for="waist">Waist</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="waist" name="waist">
                  <option value="">Choose one</option>
                  <option value="narrow">Narrow</option>
                  <option value="average">Average</option>
                  <option value="wide">Wide</option>
                </select>
              </div>
              </div>
    
              <div class="form-group">
                <label for="hips">Hips</label>
                <div class="select_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<path d="M6.00137 1.81262L8.69485 4.50611C8.98802 4.79927 9.46333 4.79927 9.75649 4.50611C10.0497 4.21294 10.0497 3.73763 9.75649 3.44447L6.5317 0.21967C6.2388 -0.0732233 5.76393 -0.0732233 5.47104 0.21967L2.24624 3.44447C1.95308 3.73763 1.95308 4.21294 2.24624 4.50611C2.5394 4.79927 3.01472 4.79927 3.30788 4.50611L6.00137 1.81262Z" fill="#6A7383"/>
<path d="M9.75649 7.49389C9.46333 7.20073 8.98802 7.20073 8.69485 7.49389L6.00137 10.1874L3.30788 7.49389C3.01472 7.20073 2.5394 7.20073 2.24624 7.49389C1.95308 7.78706 1.95308 8.26237 2.24624 8.55553L5.47104 11.7803C5.76393 12.0732 6.2388 12.0732 6.5317 11.7803L9.75649 8.55553C10.0497 8.26237 10.0497 7.78706 9.75649 7.49389Z" fill="#6A7383"/>
</svg>
                <select id="hips" name="hips">
                  <option value="">Choose one</option>
                  <option value="narrow">Narrow</option>
                  <option value="average">Average</option>
                  <option value="wide">Wide</option>
                </select>
              </div>
              </div>
    
              <div class="form-group">
                <label for="uploadPhoto"class="title_label upload_selfies">Upload Selfie</label>
                {% comment %} <input type="file" id="uploadPhoto" name="uploadPhoto" accept="image/*"> {% endcomment %}
                <div class="upload_photo_container">
                  <button class="button"><span class="label">Add Photo</span></button
                  ><span class="action-hint">Accepts .jpeg, .jpg, and .png</span>
                </div>
                <div class="upload_photo_best_practice">
                  <div class="text">
                    <span class="link-text">Photo Upload Best Practices</span>
                  </div>
                  <div class="glyph">
                    <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 12 13" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 3.5V11H9V8.75C9 8.33579 9.33579 8 9.75 8C10.1642 8 10.5 8.33579 10.5 8.75V11.75C10.5 12.1642 10.1642 12.5 9.75 12.5H0.75C0.335786 12.5 0 12.1642 0 11.75V2.75C0 2.33579 0.335786 2 0.75 2H3.75C4.16421 2 4.5 2.33579 4.5 2.75C4.5 3.16421 4.16421 3.5 3.75 3.5H1.5ZM5.78033 7.78033C5.48744 8.07322 5.01256 8.07322 4.71967 7.78033C4.42678 7.48744 4.42678 7.01256 4.71967 6.71967L9.44524 1.99654H6.7621C6.34884 1.99654 6.01383 1.66153 6.01383 1.24827C6.01383 0.835013 6.34884 0.5 6.7621 0.5L11.2517 0.5C11.4432 0.5 11.6347 0.573055 11.7808 0.719164C11.9269 0.865273 12 1.05677 12 1.24827V5.7379C12 6.15116 11.665 6.48617 11.2517 6.48617C10.8385 6.48617 10.5035 6.15116 10.5035 5.7379V3.05476L5.78033 7.78033Z" fill="black"/>
                      </svg>
                  </div>
                </div>
              </div>
              <div class="sample_photo">
               <h2 class="simple_photo_title">Or Use a Sample Photo</h2>
               <div class="simple_photo_content">
                <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/simple_phot01.png?v=1715067436"/>
                <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/simple_phot02.png?v=1715067436"/>
                <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/simple_phot03.png?v=1715067436"/>
                <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/simple_phot04.png?v=1715067437"/>
               </div>
              </div>
              <div class="button-container">
                <button type="submit">
                  Continue (2/2)
                  <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/ArrowRight.svg?v=1715009315" alt="">
                </button>
                {% comment %} <button onclick="closeModal()">Close</button> {% endcomment %}
              </div>
              {% comment %} <button onclick="closeModal2()">Close</button> {% endcomment %}
            </form>
          </div>
          <div class="footer_model">
            <h2 class="footer_model_title">Try-On This Look</h2>
            <div class="footer_model_text_with_icon">
              <h3 class="footer_model_title_pow">Powered By</h3>
              <img
                src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/footer_icon_7a9b7dbc-edf2-4484-a878-4600ac40d704.png?v=1715009086"
                alt=""
              >
              <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/WearNow.png?v=1715009086" alt="">
            </div>
          </div>
        </div>
      </div>
    
      <!-- Third Modal -->
      <div id="myModal3" class="modal">
        <div class="modal-content">
          <div class="customization-panel">
            <h2>We're creating your look!</h2>
            <p>Please wait...</p>
            <!-- Add any additional content you want here -->
          </div>
        </div>
      </div>
      
      <!-- Fourth Modal -->
      <div id="myModal4" class="modal">
        <div class="modal-content last_model_content">
          <div class="modal-content_row">
          <div class="model_photo">
           <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/Rectangle_10188_1.png?v=1714996067">
          </div>
          <div class="customization-panel last_model_customization_panel">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none">
            <circle cx="50.002" cy="50" r="50" fill="#046FB4"/>
            <path d="M37.0645 72V26.9062H42.6895V66.9375H64.4395V72H37.0645Z" fill="white"/>
            </svg>
            <h2>Your Suggested Size</h2>
            <!-- Display the data here -->
            <div id="sizeResults"></div>
            <div class="add_to_cart_container">
              <button class="add_to_cart_btn">
                 Add to cart
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2.50439 9.5C2.50439 9.08579 2.84018 8.75 3.25439 8.75L12.944 8.75L10.2241 6.03036C9.93118 5.73748 9.93116 5.2626 10.224 4.9697C10.5169 4.67679 10.9918 4.67676 11.2847 4.96964L15.2851 8.96964C15.4258 9.1103 15.5048 9.30107 15.5048 9.5C15.5048 9.69893 15.4258 9.8897 15.2851 10.0304L11.2847 14.0304C10.9918 14.3232 10.5169 14.3232 10.224 14.0303C9.93116 13.7374 9.93118 13.2625 10.2241 12.9696L12.944 10.25L3.25439 10.25C2.84018 10.25 2.50439 9.91421 2.50439 9.5Z" fill="white"/>
                  </svg>                  
              </button>
              <button class="try_something_btn">
                Try something else
               <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" clip-rule="evenodd" d="M2.50439 9.5C2.50439 9.08579 2.84018 8.75 3.25439 8.75L12.944 8.75L10.2241 6.03036C9.93118 5.73748 9.93116 5.2626 10.224 4.9697C10.5169 4.67679 10.9918 4.67676 11.2847 4.96964L15.2851 8.96964C15.4258 9.1103 15.5048 9.30107 15.5048 9.5C15.5048 9.69893 15.4258 9.8897 15.2851 10.0304L11.2847 14.0304C10.9918 14.3232 10.5169 14.3232 10.224 14.0303C9.93116 13.7374 9.93118 13.2625 10.2241 12.9696L12.944 10.25L3.25439 10.25C2.84018 10.25 2.50439 9.91421 2.50439 9.5Z" fill="white"/>
                 </svg>                  
             </button>
            </div>
            {% comment %} <button onclick="closeModal4()">Close</button> {% endcomment %}
          </div>
      </div>
          <div class=" mobile_view add_to_cart_container">
            <button class="add_to_cart_btn">
               Add to cart
              <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.50439 9.5C2.50439 9.08579 2.84018 8.75 3.25439 8.75L12.944 8.75L10.2241 6.03036C9.93118 5.73748 9.93116 5.2626 10.224 4.9697C10.5169 4.67679 10.9918 4.67676 11.2847 4.96964L15.2851 8.96964C15.4258 9.1103 15.5048 9.30107 15.5048 9.5C15.5048 9.69893 15.4258 9.8897 15.2851 10.0304L11.2847 14.0304C10.9918 14.3232 10.5169 14.3232 10.224 14.0303C9.93116 13.7374 9.93118 13.2625 10.2241 12.9696L12.944 10.25L3.25439 10.25C2.84018 10.25 2.50439 9.91421 2.50439 9.5Z" fill="white"/>
                </svg>                  
            </button>
            <button class="try_something_btn">
              Try something else
             <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd" d="M2.50439 9.5C2.50439 9.08579 2.84018 8.75 3.25439 8.75L12.944 8.75L10.2241 6.03036C9.93118 5.73748 9.93116 5.2626 10.224 4.9697C10.5169 4.67679 10.9918 4.67676 11.2847 4.96964L15.2851 8.96964C15.4258 9.1103 15.5048 9.30107 15.5048 9.5C15.5048 9.69893 15.4258 9.8897 15.2851 10.0304L11.2847 14.0304C10.9918 14.3232 10.5169 14.3232 10.224 14.0303C9.93116 13.7374 9.93118 13.2625 10.2241 12.9696L12.944 10.25L3.25439 10.25C2.84018 10.25 2.50439 9.91421 2.50439 9.5Z" fill="white"/>
               </svg>                  
           </button>
          </div>
          <div class="footer_model">
            <h2 class="footer_model_title">Try-On This Look</h2>
            <div class="footer_model_text_with_icon">
              <h3 class="footer_model_title_pow">Powered By</h3>
              <img
                src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/footer_icon_7a9b7dbc-edf2-4484-a878-4600ac40d704.png?v=1715009086"
                alt=""
              >
              <img src="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/WearNow.png?v=1715009086" alt="">
            </div>
          </div>
        </div>
      </div>`;
    document.body.insertAdjacentHTML('beforeend', content);
    document.getElementById('customizationForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission
      closeModal();
      openModal2();
    });

    // Event listener for the second form submission
    document.getElementById('customizationForm2').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission
      closeModal2();
      openModal3(); // Transition to the third modal
    });
  }
  window.addEventListener('load', onPageLoadComplete);
</script>
