@tailwind base;
@tailwind components;
@tailwind utilities;


.onboarding_steps {
  display: flex;
  gap: 5px;
  background-color: #ffff;
  margin-bottom: 40px;
}
.font-normal{
  font-weight: 500 !important;
}
/* .product_page_table th:nth-child(3) {
  width: 160px;
  max-width: 213px;
  display: flex;
}
.product_page_table th:nth-child(5){
  width: 160px;
  max-width: 213px;
  display: flex;
} */
.vartualtryon_container span.Polaris-Tag__Text {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
}
img.rounded_img {
  border-radius: 50px;
  padding: 2px;
  object-fit: cover;
  height: 50px !important;
  width: 50px !important;
  border: 1px solid var(--Colors-Border-border-primary, #D0D5DD) !important;
  margin: 2px;
}
.vartualtryon_container span.Polaris-Tag.Polaris-Tag--removable {
  border-radius: var(--radius-sm, 6px) !important;
  border: 1px solid var(--Colors-Border-border-primary, #D0D5DD) !important;
  background: var(--Colors-Background-bg-primary, #FFF) !important;
}
.custom_slider_content {
  padding-left: 40px;
}
.onboarding_steps button {
  width: 50%;
  background: #f0eaea;
  height: 4.31px;
  border-radius: 20px;
}

.modal {
  position: fixed;
  z-index: 999;
  width: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: var(--p-color-bg-surface);
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px 1px 0px 0px rgba(204, 204, 204, 0.50) inset, 0px 20px 20px -8px rgba(26, 26, 26, 0.28);
}
.parent_model {
  background: rgba(48, 48, 48, 0.20);
  position: fixed;
  width: 100%;
  height: 112vh;
  z-index: 999;
  top: 0;
  left: 0;
}

.modal_input {
  width: 100%;
  border: none;
  outline: none;
}

.modal_control_btn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.done_btn>div {
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel_btn {
  border-radius: 10px;
  background: var(--p-color-bg-fill);
  box-shadow: 0px -1px 0px 0px #B5B5B5 inset, -1px 0px 0px 0px #E3E3E3 inset, 1px 0px 0px 0px #E3E3E3 inset, 0px 1px 0px 0px #E3E3E3 inset;
}

.done_btn {
  border-radius: 10px;
  padding: 0px 11px;
}

.product_import input[type=checkbox] {
  position: relative;
  /* border: 2px solid #000; */
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 1.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
  opacity: .5;
  top: -1px;
}

.model_dont_show_content .product_import input[type=checkbox] {
  top: -2px;
}

.product_import input[type=checkbox]:hover {
  opacity: 1;
}

.product_import input[type=checkbox]:checked {
  background-color: #000;
  opacity: 1;
}

.product_import input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.enabled_vartual_try_on input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.enabled_vartual_try_on label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 19px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.enabled_vartual_try_on label:after {
  content: '';
  position: absolute;
  top: 2.2px;
  left: 1px;
  width: 16px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.enabled_vartual_try_on input:checked+label {
  background: blue;
}

.enabled_vartual_try_on input:checked+label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.enabled_vartual_try_on label:active:after {
  width: 20px;
}

.try_on_button {
  background: black;
  border-radius: 19px;
  padding: 7px 18px;
}

.try_on_button svg {
  position: relative;
  top: 3px;
}

.switch {
  display: flex;
  justify-content: center;
}

/* custom slider code .......... */

/* CustomSlider.css */

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  /* Each slide takes up the full width */
}

img {
  width: 100%;
  /* Ensure images fill the slide container */
  display: block;
  /* Remove any default inline display */
}

.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
  width: 24px;
  border-radius: 20px;
}

.onboarding_carousel_slider_img {
  display: flex;
  position: relative;
  align-items: center;
  width: 75%;
  height: 100%;
  padding-bottom: 90%;
  margin: 0 auto;
}

.onboarding_carousel_slider_img>img {
  flex: 0 0 20%;
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: contain;
}

.onboarding_carousel_slider_img img.slider_img3,
.onboarding_carousel_slider_img img.slider_img1 {
  height: 476px;
}

.onboarding_carousel_slider_img img.slider_img1 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.onboarding_carousel_slider_img img.slider_img2 {
  left: 27%;
  z-index: 99;
  width: 44%;
}

.onboarding_carousel_slider_img img.slider_img3 {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 35%;
}

/* custom slider code ..........  */

.second_header .product_import input[type=checkbox] {
  top: -3px;
}

.billing_content {
  left: 0px;
}

body {
  background: #fff !important;
}

.try_on_active input:checked+label {
  background: green;
}

* {
  font-family: 'SF Pro Display' !important;
}


/*=================================  Dashboard start style code ============================== */
.perfactpicture_col {
  position: relative;
}

button.perfactpicture_overlay_btn {
  display: flex;
  width: 131px;
  height: 48px;
  padding: 6px 0px 6px 0px;
  gap: 8px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  color: #0570DE;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  letter-spacing: 1px;
}

.perfactpicture_overlay_content {
  position: absolute;
  bottom: 30px;
  padding-left: 60px;
}

.perfactpicture_overlay_title {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}

.dashboard_content_container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 20px;
  gap: 10px;
  margin-top: 80px;
}

.dashboard_content_row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.perfactpicture_col {
  position: relative;
  height: 100%;
  width: 100%;
}

.perfactpicture_conainer {
  height: auto;
  width: 100%;
}

.virtual_tryon_with_studio>div {
  flex: 0 0 49.52%;
}

.perfactpicture_col>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dashboard_content_container>div:first-child {
  width: 70%;
}

.dashboard_content_container>div:last-child {
  width: 30%;
}

.virtual_tryon_with_studio_content {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}

img.virtual_tryon_with_studio_img1 {
  width: 93px;
  height: 107px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: var(--size-025);
  position: relative;
  top: 23px;
}

img.virtual_tryon_with_studio_img2 {
  width: 105px;
  height: 154px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: var(--size-025);
}

img.virtual_tryon_with_studio_img3 {
  width: 89px;
  height: 107px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: var(--size-025);
  position: relative;
  top: 28px;
}

.dashboard_navigation>div {
  cursor: pointer;
}

.dashboard_navigation>div:hover,
.dashboard_navigation>a:hover {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.dashboard_navigation>a.active {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.photo_created_content {
  position: relative;
  width: 100%;
  display: block;
  height: 53vh;
  margin-top: 6px;
}

.photo_created {
  position: relative;
  height: 100%;
  width: 92%;
  top: 67px;
  max-height: 100%;
  display: flex;
  overflow: hidden;
}

img.photo_created_choosfile_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 92px;
  width: 91px;
  transform: translate(-50%, -50%);
}

img.photo_created_rounded {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

button.photo_created_btn {
  height: 438px;
  width: 100%;
  display: flex;
}

.roundend_circle_overlay:after {
  content: '';
  background: url(https://cdn.shopify.com/s/files/1/0843/1642/2421/files/rounded_overlay_img.png?v=1715156160);
  height: 336px;
  width: 336px;
  background-color: transparent;
  position: absolute;
  background-repeat: no-repeat;
  left: -127px;
  top: -121px;
  z-index: 0;
}

.product_create_select>div {
  flex: 0 0 30%;
}

.product_create_select {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 0px 20px;
}

/*=================================  Dashboard end style code ============================== */


/* ================================ Product Page style code  ================================ */

.product_page_row {
  display: flex;
  width: 100%;
  padding: 10px 36px 0px;
  gap: 20px;
}

table.product_page_table td,
table.product_page_table tr {
  color: black;
}

.product_page_table th {
  color: #616161;
}

/* Remove hover effect */
.no-border:hover {
  outline: none;
  /* Remove outline on hover */
}

/* Remove focus indicator */
.no-border:focus,
.no-border:focus-visible {
  outline: none;
  /* Remove outline on focus */
}

.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product_item_content {
  display: flex;
  align-items: center;
  gap: 2px;
}


.product_items {
  display: flex;
  flex-direction: column;
}

.variant_item_content {
  margin-left: 20px;
}

select:focus {
  outline: none;
}

.after_border:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 17px;
  background: black;
  height: 73%;
  width: 1px;
}

.after_border_next:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 17px;
  background: black;
  height: 100%;
  width: 1px;
}

/* ================================ Product Page end style code  ================================ */


/* ================================ Vartual try on  Page  style code  ================================ */
.photo_studio_content {
  gap: 50px;
}
.vartualtryon_container {
  padding: 0px 25px;
  padding-bottom: 50px;
}
.product_page_container {
  margin-top: 60px;
}
select {
  border: none;
  outline: none;
}

select:focus {
  outline: none;
}

select::-moz-focus-inner {
  border: 0;
}

select::-ms-expand {
  display: none;
}

.selected_items {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 40px;
  position: relative;
  top: 8px;
  gap: 7px;
}
.vartualtryon_row span.Polaris-Tag__Text {
  display: flex;
  gap: 3px;
  align-items: center;
}
svg.search_icon {
  position: absolute;
  top: 5px;
  left: 12px;
}

.select_model>div:hover {
  border: 1px solid black;
}

.select_model img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

p.hover_effect_content {
  position: absolute;
  top: 24px;
  right: 0;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 99;
  background: white;
  padding: 10px;
  text-align: left;
  border: 2px solid black;
  box-shadow: 1px 2px 10px 1.2px black;
  display: none;
}

.show_on_hover {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 3px;
}

.show_on_hover:hover p.hover_effect_content {
  display: block;
}

.dashboard_navigation span {
  text-transform: capitalize;
}

.dashboard_vartual_content_row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.position_top {
  padding: 0px 80px;
  margin-top: 100px !important;
}
.photo_studio_title_content {
  margin-bottom: 30px;
}
/* ================================ Vartual try on  Page end style code  ================================ */
/* ================================ Sidebar Navigation style code ===================================== */
.select_option_polaries>div {
  width: 100%;
}
.side_bar_navigation {
  position: fixed;
  top: 0;
  left: -1600px;
  z-index: 99;
  width: fit-content;
  height: 100vh;
  width: 320px;
}
.side_bar_navigation_container {
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
  display: none;
}
.ai_header_container {
  position: fixed;
  top: 0;
  z-index: 99999;
}
.thumbnail_selector_item>div {
  width: 100%;
  border-radius: 10px;
}
/* ================================ Sidebar Navigation style code ===================================== */

@media (max-width: 1350px) {
  .dashboard_content_container .product_create_select_item span {
    padding: 1px 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 9px;
  }
  body .dashboard_content_container>div:first-child {
    width: 100%;
  }

  body .dashboard_content_container>div:last-child {
    width: 30%;
  }
}

@media (max-width: 1244px) {
 body .product_create_select>div {
    flex: 0 0 46.7%;
}
.product_page_table th:first-child{
  width: 258px;
  max-width: 213px;
  display: flex;
}

}
@media (max-width: 1144px) {
  body .dashboard_content_container {
    display: flex;
    flex-direction: unset;
    gap: 10px;
  }
  .dashboard_content_container button.photo_created_btn {
    height: 741px;
    width: 390px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  body .virtual_tryon_with_studio {
    display: flex;
    flex-direction: column;
  }

  .biling_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .biling_container>div {
    width: 100% !important;
  }
}
.product_create_select_item span {
  padding: 5px 8px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #333333;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
.product_create_select_item {
  position: relative;
}
select.cstm_select {
  background: transparent;
}
.product_create_select {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  grid-gap: 20px; /* Adjust the gap between items as needed */
}
.border_onboarding>div:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.border_onboarding>div:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.product_create_select_item {
  text-align: center; /* Align content in the center of each item */
}

.border_onboarding,.border_onboarding_active {
  border: 1px solid #d5d5d5;
  box-shadow: 0px 0px 0px 0px #00000021;
  border-radius: 15px;
}
/* Optional: If you want to make the items responsive, you can add media queries */
@media (max-width: 1244px) {
  .product_create_select {
      grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on smaller screens */
  }
 .dashboard_content_container .perfactpicture_overlay_content {
    bottom: 20px;
    padding-left: 20px;
} 

.dashboard_content_container .product_create_select_item span {
  padding: 1px 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 9px;
}
.photo_studio_container .photo_studio_content {
  gap: 30px;
}
.virtual_try_on_title {
  font-size: 30px;
}
}
@media (max-width: 991px) {
  /* .perfactpicture_overlay_content{
    background-color: red;
  } */
  .vto_page {
    width: 100%;
    } 
  .photo_studio_container .position_top {
    margin-top: 70px !important;
    padding: 0px 20px;
  }
  .onbording_step_container {
    padding: 20px 20px !important;
}
  body .dashboard_content_container {
    display: flex;
    flex-direction: column;
    margin-top: 59px;
}
body .side_bar_navigation {
  top: 59px;
  left: 0;
}
.photo_studio_container .photo_studio_content {
  gap: 20px;
}
.side_bar_navigation_container {
  display:flex ;
}
.ai_header_container {
  display: none;
}
.product_page_table{
  display: block;
  overflow-x: auto;
  white-space: nowrap; 
}
body .dashboard_content_container>div:last-child {
  width: 100%;
}
.product_create_select {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 3 equal-width columns */
  grid-gap: 20px; /* Adjust the gap between items as needed */
}
.vartualtryon_container {
  margin-top: 59px;
}
body .product_page_container {
  margin-top: 62px;
}
.product_page_container .product_page_row {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px 36px;
  gap: 21px;
}
.product_page_table_content {
  padding: 0px 36px;
}
}

@media (max-width: 768px) {
  .product_create_select {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    grid-gap: 20px; /* Adjust the gap between items as needed */
  }
  .cst_padding {
    padding: 0px;
}
  .onboarding_paragraph {
    font-size: 15px;
    line-height: 16px;
}
.virtual_try_on_title {
  font-size: 25px;
}
.onbording_step_container .virtual_try_on_content {
margin-top: 0px;
}
.onbording_step_container .virtual_try_on_content, .onbording_step_container .virtual_try_on_content>div {
  margin-top: 0px;
}
.onbording_step_container .onboarding_steps {
margin-bottom: 10px;
}
.onbording_step_container .add_product_content {
margin-top: 5px;
}
.default_number {
  margin: 0px;
}
.enabled_virtual_try_on {
  margin: 0;
}
.default_number>div {
  width: 100%;
  display: contents;
}
body .onbording_step_container  .custom_slider_content {
  padding: 0px 0px 0px 0px;
}
.cst_padding {
  padding: 0px !important;
}
.onbording_step_container .modal_input {
  width:90% !important;
  border: none;
  outline: none;
}
.search_model {
  width: 100% !important;
}
.listboxItemSelectedStyle {
  width: 100%;
}
.search_model_content {
  gap: 6px !important;
}
.onbording_step_container .modal {
  position: fixed;
  z-index: 999;
  width: calc(100% - 30px) !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: var(--p-color-bg-surface);
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px 1px 0px 0px rgba(204, 204, 204, 0.50) inset, 0px 20px 20px -8px rgba(26, 26, 26, 0.28);
}
.virtual_try_on_title {
  font-size: 23px;
  line-height: 57px;
}
.photo_studio_container  .virtual_try_on_title {
  font-size: 23px;
  line-height: 21px;
}
}
@media (max-width: 567px) {
.listboxItemSelectedStyle{
  width: 106px !important;
  height: 200px !important;
}
.listboxItemSelectedStyle>div {
  border-radius: 15px;
}
.product_page_table_content{
  padding: 0px 20px;
}
.onboarding_paragraph {
  font-size: 15px;
  line-height: 14px;
}
.dashboard_content_row .perfactpicture_overlay_title {
  font-size: 15px;
  line-height: 18px;
}
.dashboard_content_row button.perfactpicture_overlay_btn {
  width: 100px;
  height: 29px;
  margin-top: 10px;
  font-size: 13px;
  line-height: 22px;
}
.product_page_table_content {
  padding: 0px 36px;
}
.dashboard_content_container .perfactpicture_overlay_content {
  bottom: 25px;
  padding-left: 20px;
}
}
@media (max-width: 467px) {
.virtual_try_on_title {
  font-size: 23px;
  line-height: 45px;
}
.dashboard_content_container .perfactpicture_overlay_content {
  bottom: 10px;
  padding-left: 20px;
}
body .dashboard_content_container {
  margin-top: 70px;
}
}