@tailwind base;
@tailwind components;
@tailwind utilities;


.onboarding_steps {
    display: flex;
    gap: 5px;
    background-color: #ffff;
    margin-bottom: 40px;
}
.onboarding_steps button {
    width: 50%;
    background: #f0eaea;
    height: 4.31px;
    border-radius: 20px;
}

.modal {
    position: fixed;
    z-index: 999;
    width: 48.3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: var(--p-color-bg-surface);
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px 1px 0px 0px rgba(204, 204, 204, 0.50) inset, 0px 20px 20px -8px rgba(26, 26, 26, 0.28);
}
.parent_model {
    background: rgba(48, 48, 48, 0.20);
    position: fixed;
    width: 100%;
    height: 112vh;
    z-index: 999;
    top: 0;
}
.modal_input {
    width: 100%;
    border: none;
    outline: none;
}
.modal_control_btn {
    display: flex;
    justify-content: end;
    align-items: center;
}
.done_btn>div {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cancel_btn {
    border-radius: 10px;
    background: var(--p-color-bg-fill);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset, -1px 0px 0px 0px #E3E3E3 inset, 1px 0px 0px 0px #E3E3E3 inset, 0px 1px 0px 0px #E3E3E3 inset;
}
.done_btn {
    border-radius: 10px;
    padding: 0px 11px;
}
.product_import input[type=checkbox] {
    position: relative;
    /* border: 2px solid #000; */
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 1.6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    opacity: .5;
    top: -1px;
}
.model_dont_show_content  .product_import input[type=checkbox] {
  top: -2px;
}
  .product_import input[type=checkbox]:hover {
    opacity: 1;
  }
  
  .product_import input[type=checkbox]:checked {
    background-color: #000;
    opacity: 1;
  }
  
  .product_import input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
  }
  .enabled_vartual_try_on input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.enabled_vartual_try_on label {
	cursor: pointer;
	text-indent: -9999px;
	width: 30px;
	height: 19px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.enabled_vartual_try_on label:after {
    content: '';
    position: absolute;
    top: 2.2px;
    left: 1px;
    width: 16px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.enabled_vartual_try_on input:checked + label {
	background: blue;
}

.enabled_vartual_try_on input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

.enabled_vartual_try_on label:active:after {
	width: 20px;
}
.try_on_button {
    background: black;
    border-radius: 19px;
    padding: 7px 18px;
}
.try_on_button svg {
    position: relative;
    top: 3px;
}
.switch {
    display: flex;
    justify-content: center;
}

/* custom slider code .......... */

/* CustomSlider.css */

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
  }
  
  .slide {
    flex: 0 0 100%; /* Each slide takes up the full width */
  }
  
  img {
    width: 100%; /* Ensure images fill the slide container */
    display: block; /* Remove any default inline display */
  }
  
  .dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: black;
    width: 24px;
    border-radius: 20px;
  }
  
  .onboarding_carousel_slider_img {
    display: flex;
    position: relative;
    align-items: center;
    width: 75%;
    height: 100%;
    padding-bottom: 90%;
    margin: 0 auto;
}
.onboarding_carousel_slider_img>img {
    flex: 0 0 20%;
    width: 33%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: contain;
}
.onboarding_carousel_slider_img img.slider_img3, .onboarding_carousel_slider_img img.slider_img1 {
    height: 476px;
}
.onboarding_carousel_slider_img img.slider_img1 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.onboarding_carousel_slider_img img.slider_img2 {
    left: 27%;
    z-index: 99;
    width: 44%;
}
.onboarding_carousel_slider_img img.slider_img3 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 35%;
}
/* custom slider code ..........  */

.second_header .product_import input[type=checkbox] {
    top: -3px;
}
.billing_content {
  left: 0px;
}
body{
  background: #fff !important;
}

.try_on_active input:checked + label {
  background: green;
}
*{
  font-family: 'SF Pro Display' !important;
}


/*=================================  Dashboard start style code ============================== */
.perfactpicture_col {
  position: relative;
}
button.perfactpicture_overlay_btn {
  display: flex;
  width: 131px;
  height: 48px;
  padding: 6px 0px 6px 0px;
  gap: 8px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  color: #0570DE;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  letter-spacing: 1px;
}

.perfactpicture_overlay_content {
  position: absolute;
  bottom: 30px;
  padding-left: 60px;
}
.perfactpicture_overlay_title {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}
.dashboard_content_container {
  display: flex;
  justify-content: center;
}
.dashboard_content_row {
  display: block;
  width: 100%;
  padding: 0px 20px 10px;
  gap: 20px;
}
.perfactpicture_col {
  position: relative;
  height: 100%;
  width: 100%;
}
.perfactpicture_conainer {
  height: auto;
  width: 100%;
}
.virtual_tryon_with_studio>div {
  flex: 0 0 49%;
}
.perfactpicture_col>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dashboard_content_container>div:first-child {
  flex: 0 0 70%;
}
.dashboard_content_container>div:last-child {
  flex: 0 0 29%;
}
.virtual_tryon_with_studio_content {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}
img.virtual_tryon_with_studio_img1 {
  width: 93px;
  height: 107px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: var(--size-025);
  position: relative;
  top: 23px;
}
img.virtual_tryon_with_studio_img2 {
  width: 105px;
  height: 154px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: var(--size-025);
}
img.virtual_tryon_with_studio_img3 {
  width: 89px;
  height: 107px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: var(--size-025);
  position: relative;
  top: 28px;
}
.dashboard_navigation>div{
  cursor: pointer;
}
.dashboard_navigation>div:hover {
  background: rgba(0,0,0,0.08);
}
.photo_created_content {
  position: relative;
  width: 100%;
  display: block;
  height: 53vh;
  margin-top: 6px;
}
.photo_created {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 106px;
  max-height: 100vh;
  display: flex;
}
img.photo_created_choosfile_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 92px;
  width: 91px;
  transform: translate(-50%, -50%);
}
img.photo_created_rounded {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
button.photo_created_btn {
  height: 100%;
  width: 100%;
  display: flex;
}
.roundend_circle_overlay:after {
  content: '';
  background: url(https://cdn.shopify.com/s/files/1/0843/1642/2421/files/rounded_overlay_img.png?v=1715156160);
  height: 336px;
  width: 336px;
  background-color: transparent;
  position: absolute;
  background-repeat: no-repeat;
  left: -127px;
  top: -121px;
  z-index: 0;
}
/*=================================  Dashboard end style code ============================== */


/* ================================ Product Page style code  ================================ */

.product_page_row {
  display: flex;
  width: 100%;
  padding: 0px 21px;
  gap: 20px;
}
table.product_page_table td, table.product_page_table tr {
  color: black;
}
.product_page_table th {
  color: #616161;
}
/* Remove hover effect */
.no-border:hover {
  outline: none; /* Remove outline on hover */
}

/* Remove focus indicator */
.no-border:focus,
.no-border:focus-visible {  
  outline: none; /* Remove outline on focus */
}
.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_item_content {
  display: flex;
  align-items: center;
  gap: 2px;
}


.product_items {
  display: flex;
  flex-direction: column;
}

.variant_item_content {
  margin-left: 20px;
}
select:focus {
  outline: none;
} 
.after_border:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 17px;
  background: black;
  height: 73%;
  width: 1px;
}

.after_border_next:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 17px;
  background: black;
  height: 100%;
  width: 1px;
}
/* ================================ Product Page end style code  ================================ */


/* ================================ Vartual try on  Page  style code  ================================ */

.vartualtryon_container {
  padding: 0px 25px;
  padding-bottom: 50px;
}

select {
  border: none;
  outline: none;
}

select:focus {
  outline: none;
}

select::-moz-focus-inner {
  border: 0;
}

select::-ms-expand {
  display: none;
}
.selected_items {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 40px;
  position: relative;
  top: 8px;
  gap: 7px;
}
svg.search_icon {
  position: absolute;
  top: 11px;
  left: 12px;
}
/* ================================ Vartual try on  Page end style code  ================================ */