* {
    font-family: 'SF Pro Display' !important;
    font-weight: 500;
    font-style: normal;
}

.enabled_vartual_try_on input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.enabled_vartual_try_on label {
    cursor: pointer;
    text-indent: -9999px;
    width: 30px;
    height: 19px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.enabled_vartual_try_on label:after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 1px;
    width: 16px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.enabled_vartual_try_on input:checked+label {
    background: #bada55;
}

.enabled_vartual_try_on input:checked+label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.enabled_vartual_try_on label:active:after {
    width: 20px;
}

.try_on_button {
    background: black;
    border-radius: 19px;
    padding: 7px 18px;
}

.try_on_button svg {
    position: relative;
    top: 3px;
}

.switch {
    display: flex;
    justify-content: center;
}

.onboarding_opacity_content {
    opacity: 0.4;
    pointer-events: none;
}

.onboarding_carousel_slider_img {
    display: flex;
    position: relative;
    align-items: center;
    width: 75%;
    height: 100%;
    padding-bottom: 90%;
    margin: 0 auto;
}

.onboarding_carousel_slider_img>img {
    flex: 0 0 20%;
    width: 33%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: contain;
}

.onboarding_carousel_slider_img img.slider_img3,
.onboarding_carousel_slider_img img.slider_img1 {
    height: 476px;
}

.onboarding_carousel_slider_img img.slider_img1 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.onboarding_carousel_slider_img img.slider_img2 {
    left: 27%;
    z-index: 99;
    width: 44%;
}

.onboarding_carousel_slider_img img.slider_img3 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 35%;
}

.onboarding_carousel_content {
    width: 76%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.onboarding_carousel_title {
    font-family: SF Pro Display;
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
}

.onboarding_carousel_subtitle {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
}

.onboarding_carousel {
    margin-bottom: 60px;
    background: #e7e5e5;
    padding-top: 40px;
    border-radius: 22px;
    position: relative;
}

.onbording_step_title {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.onbording_enabled {
    font-family: SF Pro Display;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

p.onboarding_add_sub_title {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

h2.onboarding_add_prd_title {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

button.add_badges {
    font-family: SF Pro Display;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 17.5px;
    text-align: left;
}

h2.onboarding_enabled_title {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

label.onboarding_default_number {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.onbording_prd_letter {
    font-family: SF Pro Text;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.07800000160932541px;
    text-align: left;
}

.onbording_store_active {
    font-family: SF Pro Rounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

h2.onbording_add_btn {
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    text-align: left;
}

.buton_content button {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.onbording_do_letter {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: black;
}

.onboarding_steps>button {
    width: 50%;
    height: 100%;
    /* position: absolute; */
    background-color: #52575D;
    cursor: pointer;
    border-radius: 30px;
}

.onboarding_steps .onbording_step_first {
    background: #006DBC;
}

span.onboarding_select_product_step {
    position: relative;
    border: 1px dotted #000000;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border-style: dashed;
}

.onboarding_select_product_content {
    display: flex;
    align-items: center;
}

.onboarding_select_product_title {
    font-family: SF Pro Display;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.product_pagination {
    position: relative;
    width: 433px;
    left: 45px;
    border: 1px solid #dfdfdf;
    padding: 15px 15px 40px;
    border-radius: 12px;
}

ul.pagination_controlled {
    display: flex;
    position: absolute;
    right: 0px;
    gap: 25px;
    width: 100%;
    justify-content: end;
    bottom: -4px;
    background: #dfdcdc;
    padding: 8px 20px 5px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.pagination_controlled li:not(:first-child):not(:last-child) {
    display: none;
}

.product_pagination {
    position: relative;
    width: 433px;
    left: 45px;
    border: 1px solid #dfdfdf;
    padding: 0px 0px 42px;
    border-radius: 12px;
    margin: 25px 0px 40px;
}

ul.pagination_controlled>li {
    position: relative;
    top: -3px;
    font-size: 22px;
    font-weight: bold;
    padding: 7px 0px;
}

.product_pagination>div {
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 20px;
}

span.onboarding_select_product_step:after {
    content: '';
    position: absolute;
    height: 254px;
    width: 1px;
    top: 31px;
    left: 15px;
    border-radius: 17px;
    gap: 0px;
    border: 1px solid #000000;
}

span.onboarding_select_product_step_next {
    position: relative;
    padding: 6px 8px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border: 1px solid #d9d1d1;
}

.onboarding_select_product_step_main_next>div {
    margin-bottom: 16px;
}

.onboarding_select_product_step_main_next {
    opacity: 0.4;
}

.onboarding_carousel ul.slick-dots {
    position: absolute;
    bottom: 9px;
}

.onboarding_carousel .slick-dots li button:before {
    display: none
}

.onboarding_carousel ul.slick-dots {
    position: absolute;
    bottom: 9px;
    display: flex !important;
    width: 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
}

.onboarding_carousel ul.slick-dots>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background: #96BFFF;
    border-radius: 20px;
}

.onboarding_carousel li.slick-active {
    width: 36px !important;
    background: black !important;
    border-radius: 20px;
}