* {
    font-family: "SF Pro Display" !important;
}
.wna_last_model_img{
    position: relative;
}
img.model_power_by {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 53% !important;
    object-fit: contain !important;
    height: auto !important;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2px);
    margin-bottom: 15px;
}
.wna_last_model_img img {
width: 100%;
height: 100%;
object-fit: cover;
}
.wna_last_model_img>img:first-child {
    height: fit-content;
}
.wna_last_model_img>img:first-child {
    height: fit-content;
    height: calc(100vh - 233px);
}
.wna_last_footer_model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}
.wna_last_footer_model button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
button.wna_add_to_cart {
    display: flex;
    padding: 10px 18px;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    border: var(--size-050, 2px) solid var(--WearNow-Color-Primary-primary-500, #047AC6);
    background: var(--WearNow-Color-Primary-primary-500, #047AC6);
    color: var(--WearNow-Color-Grey-G0, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
button.wna_try_another {
    color: var(--WearNow-Color-Primary-primary-500, #047AC6);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
img.model_power_by {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 53% !important;
    object-fit: contain !important;
    height: auto !important;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2px);
    margin-bottom: 15px;
}

.wna_last_model_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wna_model_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wna_model_img img {
    height: 100%;
    width: 100%;
    background: #cef1ff;
}

.wna_model_img img {
    height: 100%;
    width: 100%;
}

.wna_model_tittle_withcheck {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 5px;
}

.wna_model_check_title {
    font-size: 13px;
    font-style: normal;
    font-weight: 450;
    color: var(--colors-gray-light-mode-600, #475467);
    line-height: 20px;
    margin: 0;
}

.wna_model_title_check_content {
    display: flex;
    align-items: center;
    gap: 10px;
}

input#dropzone-file {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

label.wna_upload_photo {
    cursor: pointer;
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm, 6px);
    flex: 1 0 0;
    border-radius: 999px;
    border: 1px solid var(--WearNow-Color-Primary-primary-500, #047AC6);
    background: var(--WearNow-Color-Primary-primary-500, #047AC6);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--WearNow-Color-Grey-G0, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 20px;
}

.wna_upload_photo_extension {
    color: var(--colors-text-text-tertiary-600, #475467);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.model_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
}

h2.gender_title,
.select_skin_title,
.select_skin_comosition_img_title {
    color: #344054;
}

div#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader img {
    width: 100px;
}

button.theme_ai_model {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
    background: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    height: 45px;
}

.upload_photo>div {
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.upload_photo {
    border-radius: 999px;
    border: 1px solid var(--WearNow-Color-Primary-primary-500, #047AC6);
    background: var(--WearNow-Color-Primary-primary-500, #047AC6);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #fff;
    height: 50px !important;
}

.model_row {
    width: 390px;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

.model_img {
    width: 100%;
    height: 100%;
}

.last_model {
    height: calc(100vh - 240px) !important;
}

.model_img_conten {
    position: relative;
    height: 100%;
}

.select_skin_comosition_img_item img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.select_skin_comosition_img_item {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--rounded-full, 9999px);
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

img.model_power_by {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 53%;
}

.close_btn_model_content {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #d7d7d7;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

svg.close_btn_model {
    height: 12px;
    width: 12px;
}

.select_gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px;
}

h2.gender_title {
    margin: 0;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.gender_btn {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    background: var(--gray-200, #E5E7EB);
    gap: 10px;
}
.wna_close_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wna_close_model_out_side {
    font-size: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    cursor: pointer;
}
.gender_btn>button {
    border: none;
    outline: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    background: transparent;
    cursor: pointer;
}

.select_skin_comosition_img_title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

button.female_btn ,button.male_btn {
    display: flex;
    width: 53px;
    padding: 6px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    /* background: var(--Color-Item-Card-Surface-primary, #FFF); */
}

.model_col {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.select_skin_comosition_img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100px;
}

.select_skin_comosition_img_item>img {
    width: 100%;
}

.select_skin_comosition {
    padding: 0px 20px;
}

.select_skin_comosition_img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.select_skin_title {
    font-size: 14px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-align: left;
}

.select_skin_comosition_img {
    margin: 0px 0px 0px;
}

.footer_content_model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px;
    background: transparent;
}

.footer_content_model>button {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

button.customise_try_on_btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #047AC6;
}

button.add_to_cart_btn {
    border-radius: 999px;
    border: var(--size-050, 2px) solid var(--WearNow-Color-Primary-primary-500, #047AC6);
    background: var(--WearNow-Color-Primary-primary-500, #047AC6);
    color: #fff;
    display: flex;
    padding: 10px 18px;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

@media only screen and (max-width: 1450px) {
    .wna_last_model_img>img:first-child {
        height: fit-content;
        height: calc(100vh - 100px);
    }
}
@media only screen and (max-width: 567px) {
    .model_container .model_row {
        height: fit-content;
        overflow: auto;
        width: 370px;
    }

    .footer_content_model form .add_to_cart_btn {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer_content_model form {
        width: 100%;
    }

    .model_container .footer_content_model {
        flex-direction: column;
        gap: 5px;
    }

    .model_container .footer_content_model>button {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .model_container button.add_to_cart_btn {
        padding: 4px 18px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 375px) {
    .model_container .model_row {
        /* height: calc(100vh - 80px); */
        overflow: auto;
        width: 300px;
    }
   .model_ai .main_model_wna>.wna_model_step {
        width: 310px;
    }
}



/* ================== 2nd  model design ==================*/
.select_skin_comosition_size {
    width: 150px;
}

.select_skin_comosition_size>div {
    height: 30px;
    width: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: var(--rounded-full, 9999px);
    background: rgba(0, 0, 0, 0.05);
}

/* =================== 3rd model Design ================= */
.new_select_skin_comosition {
    width: 200px;
}

.new_select_skin_comosition img {
    border-radius: 50px;
}

/* ======================== custmize try on style code ==================================== */
.pagination_model_content {
    display: flex;
    font-size: 18px;
    font-weight: 500;
}

.model_btn,
#backBtn {
    cursor: pointer;
}

.model_btn,
.addtocart_btn {
    background: #047ac6;
    color: white;
    cursor: pointer;
}

.footer_model {
    width: auto;
    background: white;
}

.main_model_wna {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
}

.model_row,
.main_model_wna>.wna_model_step {
    height: fit-content;
    overflow: auto;
    padding-bottom: 15px;
}

.addtocart_btn {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 12px 20px 0px;
}
.gender_btn button.active {
    background: var(--Color-Item-Card-Surface-primary, #FFF);
    color: #046FB4;
}
.select_skin_comosition_img_item.active {
    border-radius: var(--rounded-full, 9999px);
    border: var(--size-050, 2px) solid var(--WearNow-Color-Primary-primary-600, #046FB4);
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 0px 2px #155EEF;
}
.main_model_wna>.wna_model_step {
    width: 390px;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    height: fit-content;
}

img.lokking_image {
    object-fit: cover;
}

/* ======================== custmize try on style code ==================================== */