* {
    font-family: "SF Pro Display" !important;
}

.model_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
}
div#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader img {
    width: 100px;
}
button.theme_ai_model {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
    background: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    height: 45px;
}
.upload_photo>div {
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.upload_photo {
    border-radius: 999px;
    border: 1px solid var(--WearNow-Color-Primary-primary-500, #047AC6);
    background: var(--WearNow-Color-Primary-primary-500, #047AC6);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #fff;
    height: 50px !important;
}
.model_row,.main_model_wna>div {
    height: calc(100vh - 180px) !important;
    overflow: auto;
}

.model_row {
    width: 390px;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

.model_img {
    width: 100%;
    height: 100%;
}
.last_model{
    height: calc(100vh - 240px) !important;
}
.model_img_conten {
    position: relative;
    height: 272px;
}

img.model_power_by {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 53%;
}

.close_btn_model_content {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #d7d7d7;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

svg.close_btn_model {
    height: 12px;
    width: 12px;
}

.select_gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

h2.gender_title {
    margin: 0;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.gender_btn {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    background: var(--gray-200, #E5E7EB);
    gap: 10px;
}

.gender_btn>button {
    border: none;
    outline: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    background: transparent;
    cursor: pointer;
}

.select_skin_comosition_img_title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

button.female_btn {
    display: flex;
    width: 53px;
    padding: 6px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: var(--Color-Item-Card-Surface-primary, #FFF);
    color: #046FB4;
}

button.female_btn {
    display: flex;
    width: 53px;
    padding: 6px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: var(--Color-Item-Card-Surface-primary, #FFF);
}

.select_skin_comosition_img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.select_skin_comosition_img_item>img {
    width: 100%;
}

.select_skin_comosition {
    padding: 0px 20px;
}

.select_skin_comosition_img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.select_skin_title {
    font-size: 14px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-align: left;
}

.select_skin_comosition_img {
    margin: 10px 0px 15px;
}

.footer_content_model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 15px;
    background: transparent;
}

.footer_content_model>button {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
button.customise_try_on_btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #047AC6;
}

button.add_to_cart_btn {
    border-radius: 999px;
    border: var(--size-050, 2px) solid var(--WearNow-Color-Primary-primary-500, #047AC6);
    background: var(--WearNow-Color-Primary-primary-500, #047AC6);
    color: #fff;
    display: flex;
    padding: 10px 18px;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

@media only screen and (max-width: 1450px) {
    .model_row {
        height: calc(100vh - 80px) !important;
        overflow: auto;
    }
}

@media only screen and (max-width: 567px) {
    .model_container .model_row {
        height: calc(100vh - 80px);
        overflow: auto;
        width: 370px;
    }

    .model_container .footer_content_model {
        flex-direction: column;
        gap: 20px;
    }

    .model_container .footer_content_model>button {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .model_container .model_row {
        height: calc(100vh - 80px);
        overflow: auto;
        width: 300px;
    }
}



/* ================== 2nd  model design ==================*/
.select_skin_comosition_size {
    width: 150px;
}

.select_skin_comosition_size>div {
    height: 30px;
    width: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: var(--rounded-full, 9999px);
    background: rgba(0, 0, 0, 0.05);
}

/* =================== 3rd model Design ================= */
.new_select_skin_comosition {
    width: 200px;
}

.new_select_skin_comosition img {
    border-radius: 50px;
}




/* ======================== custmize try on style code ==================================== */
.pagination_model_content {
    display: flex;
    font-size: 18px;
    font-weight: 500;
}
.model_btn,#backBtn{
    cursor: pointer;
}
.model_btn,.addtocart_btn {
    background: #047ac6;
    color: white;
    cursor: pointer;
}

.footer_model {
    width: auto;
    margin: 0 auto;
    background: white;
}
div#model1 {
    margin-bottom: 50px;
}
.main_model_wna {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
}
.main_model_wna>div {
    width: 390px;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background: #fff;
    text-align: center;
}
img.lokking_image {
    position: absolute;
    top: 58%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
/* ======================== custmize try on style code ==================================== */
